.color-fondo{
    background-color: rgb(221, 221, 221);
}
.color-navbar{
    background-color: #ffcb31;
}



#map-container {
    z-index: 1;
    width: 90%;
    height: 700px;
    overflow: hidden;
    border: 1px solid #cccccc2e;
    position: relative;
    margin-left:50px;
    background-color: #f2f2f2; /* gris claro */
    background-image:
        linear-gradient(#ccc 1px, transparent 1px),
        linear-gradient(90deg, #ccc 1px, transparent 1px);
    background-size: 40px 40px; 
}

#map-container path{
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 2px;
}


#map-controls{
    z-index: 2;
    position: absolute;
    left: 30px;
    top:180px;
    width: fit-content;

}

#leyenda{
    position:absolute;
    left: 30px;
    top: 100px;
    z-index: 2;
    margin: 5px;
    width: fit-content;

}



#svg1{
    cursor:grab;
    transform-origin: 0 0;
    width: 100%;
    height: auto;
    display: block;
}

#svg1:active {
    cursor: grabbing;
}

.btn-zoom{
    cursor: pointer;
}
.row{
    margin-right: 0;
    margin-left: 0;
}

.lote.disponible {
    fill: #dcdcdc !important;
    fill-opacity:0.3 !important;
}

.lote.vendido {
    fill: rgb(253, 204, 102) !important;
    pointer-events: none;
    fill-opacity:0.4 !important;
}

.lote.reservado {
    fill: #fd7e14 !important;
    fill-opacity:0.4 !important;
}

.lote.seleccionado{
    fill:red;
    opacity: 0.7;
}

.lote.disponible:hover { fill: #c2ffaf !important; }
.lote.reservado:hover { fill: #fd6614 !important; }

#tooltip {
    font-weight: bold;
}

