<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="layout :: head" th:with="titulo='Home - Cassa Angolo"></head>

<body class="color-fondo">


    <nav th:replace="layout :: navbar"></nav>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <!-- Footer -->
    <footer th:replace="layout :: footer"></footer>

    <!-- Scripts -->
    <div th:replace="layout :: scripts"></div>
</body>

</html>